<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <h1>douban API</h1>
    <p>请输入电影名称进行搜索</p>
    <form action="/search" method="get">
        <input type="text" name="q" />
        <button>search</button>
    </form>
</body>
</html>